body {
    margin: 0;
    background-color: #FAFAD2;
}

.title {
    top: 0;
    height: 100px;
    background-color: #BDB76B;
    position:relative;
}

.title h1 {
	text-decoration:none;
    text-align: center;
    color: white;
    font-family: "Open Sans";
}

.menu_bar ul {
    width: 100%;
    top: 100px;
    position: absolute;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #EEE8AA;
	font-size:20px;
	font-weight:bold;
	text-shadow: 1px 1px #5D6D7E; 
}

.menu_bar li {
    float: left;
}

.menu_bar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.menu_bar li a:hover:not(.active) {
    background-color: #FFE4B5;
}

.active {
    background-color: #FFE4B5;
}

p.head{
font-family:Veranda;
font-size:40px;
position:relative;
}

p.head1{
font-style:Veranda;
font-size:20px;
position:relative;
}
p.head2{
font-style:Veranda;
font-size:15px;
position:relative;
}

.about {
    text-align: center;
    font-size: 20px;
}

.about img {
    height: 300px;
    width: 350px;
    border-radius: 25px;
}

.about h3 {
    color: black;
    font-family: "Open Sans";
}

@font-face {
    font-family: "Open Sans";
    src: url("fonts/Open_Sans/OpenSans-Regular.ttf");
}
