

body {
    margin: 0;
    background: url(../pictures/background.png);
}

.nav, .heading, .content {
    background-color: hsla(28, 80%, 90%, 0.7);
    margin: 0% 5%;
    padding: 0.5%;
}
article, .textcontent {
    padding: 0% 3%;
}

.textcontent1  {
	font-family: cursive;
	color: gray;
	text-indent: 30px;
	padding: 0% 3%;
	letter-spacing:1.5px;
}	



h1{
	font-family: Bold;
	font-size:50px;
	letter-spacing:2px;
	color:#696969;
	text-align: center;
}

footer , .topnav {
  overflow: hidden;
  background-color:rgba(89, 111, 130, 0.7);
  text-align:center;
}

.topnav a {
  font-family: Regular;
  letter-spacing:2.2px;
  float: left;
  display:inline;
  color: white;
  text-align: center;
  padding: 15px 25px;
  text-decoration: none;
  font-size: 20px;

}

.navcontainer {
	
	
}
.topnav a:hover {
  background-color: #F5F5F5;
  color: black;
  
}

article{
	background-color:rgba(89, 111, 130, 0.1);
	border-radius: 10px;
	padding: 10px 20px;
	margin: 10px 0px;
	width: auto;
}
	
.topics {
	-webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
}






@font-face {
	font-family: "Regular";
	src: url("fonts/IBMPlexMono-Regular.ttf");
}
@font-face {
	font-family: "Bold";
	src: url("fonts/IBMPlexMono-Bold.ttf");
}







/*WEB PAGE
p.head{
font-family:Veranda;
font-size:40px;
position:relative;
}

p.head1{
font-style:Veranda;
font-size:20px;
position:relative;
}
p.head2{
font-style:Veranda;
font-size:15px;
position:relative;
}
.content, .about {
    margin-top: 70px;
    margin-left: 30px;
    margin-bottom: 30px;
}*/